<%= _.template(require('./../includes/header.html').default)() %>
<div class="container">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
     
      <div class="carousel-inner">
        <div class="carousel-item  active" data-interval="2000">
          <img class="shadow-lg p-3 mb-5 bg-dark rounded d-block w-100" src="img/IMG_47.jpg" alt="...">
             <div class="carousel-caption d-none d-md-block">
               <h2>Гостинний зал</h2>
               
             </div>
        </div>
        
        <div class="carousel-item" data-interval="1000">
          <img class="img-fluid shadow-lg p-3 mb-5 bg-secondary rounded d-block w-100" src="img/IMG_471.jpg" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>Ф А Н Т А С Т И К А</h2>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <h1 class="h2 text-center text-white">МЕНЮ страв</h1>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery" data-width="2400" data-height="1600" href="img/img20n.jpg">
                  <img class="img-fluid" src="img/img20n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img21n.jpg">
                  <img class="img-fluid" src="img/img21n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img22n.jpg">
                  <img class="img-fluid" src="img/img22n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img23n.jpg">
                  <img class="img-fluid" src="img/img23n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img26n.jpg">
                  <img class="img-fluid" src="img/img26n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img27n.jpg">
                  <img class="img-fluid" src="img/img27n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery"data-width="2400" data-height="1600" href="img/img28n.jpg">
                  <img class="img-fluid" src="img/img28n.jpg" alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
              <a data-fancybox="gallery" data-width="2400" data-height="1600" href="img/img29n.jpg">
                  <img class="img-fluid" src="img/img29n.jpg" alt="">
              </a>
          </div>
      </div>
    </div>
    <%= _.template(require('./../includes/footer.html').default)() %>