<%= _.template(require('./../includes/header.html').default)() %>
<div class="container">
 <div id="carousel-1" class="carousel slide carousel-fade" data-ride="carousel">
  
   <div class="carousel-inner">
     <div class="carousel-item  active" data-interval="2000">
       <img class="img-fluid shadow-lg p-3 mb-5 bg-dark rounded d-block w-100" src="img/harazd11.jpg" alt="...">
          <div class="carousel-caption line-height:initial d-md-block">
          
            <h2><span class="text">Ресторан ~ГаразД~</span></h2> 
            
          </div>
     </div>
    
     <div class="carousel-item" data-interval="2000">
       <img class="img-fluid shadow-lg p-3 mb-5 bg-secondary rounded d-block w-100" src="img/photo31.JPG" alt="...">
       <div class="carousel-caption d-md-block">
       <p><span class="text">Ласкаво Просимо!</span></p> 
       </div>
     </div>
   </div>
 </div>
 <div id="pasek11"></div>
 <div id="hara" class="jumbotron text-center" style="margin-bottom:0">
 
   <h2 style="color:rgba(26 209 228)"> В Ресторації ~ГаразД~ Ви можете відсвяткувати різні події Вашого життя – дні народження,
      ювілеї, хрестини, річниці, іменини, дитячі святкування, корпоративи, 
      тематичні свята та інші.
      До Ваших послуг зали різного формату.</h2>
 </div>

<div id="pasek11"></div>
<%= _.template(require('./../includes/footer_index.html').default)() %>