<%= _.template(require('./../includes/header.html').default)() %>
<div>"&nbsp;"</div>
    <div class="container">
    <div id="carousel-2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  class="img-fluid" src="img/garazd12.jpg" alt="...">
        </div>
        <div class="item">
          <img  class="img-fluid" src="img/harazd1.jpg" alt="...">
        </div>
        
        <div class="item">
          <img  class="img-fluid" src="img/вес2.jpg" alt="...">
        </div>
       
        <div class="item">
          <img  class="img-fluid" src="img/весіле.jpg" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">попередній</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">наступний</span>
      </a>
    </div>
    </div>
    
   
    <div class="container">
      <h1 class="h3 text-center text-white my-4">Галерея гостей</h1>
    </div>
    <div class="container">
      <div class="row"> 
       <div class="col-lg-3 col-md-4 col-6 thumb">
        <a data-fancybox="gallery"
         href="img/молотков.jpg">
          <img class="img-fluid" src="img/молотков.jpg" alt="...">
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
          <a data-fancybox="gallery"
           href="img/вікторія-1.jpg">
          <img class="img-fluid" src="img/вікторія-1.jpg" alt="...">
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
          <a data-fancybox="gallery" 
          href="img/юрчило.jpg">
          <img class="img-fluid" src="img/юрчило.jpg" alt="...">
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
          <a data-fancybox="gallery" 
          href="img/gural.jpg">
           <img class="img-fluid" src="img/gural.jpg" alt="...">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
          <a data-fancybox="gallery"
           href="img/гав.jpg">
            <img class="img-fluid" src="img/гав.jpg" alt="...">
          </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery"
             href="img/наталія.jpg">
            <img class="img-fluid" src="img/наталія.jpg" alt="...">
          </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" 
            href="img/syla.jpg">
            <img class="img-fluid" src="img/syla.jpg" alt="...">
          </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" 
            href="img/syla1.jpg">
             <img class="img-fluid" src="img/syla1.jpg" alt="...">
            </a>
          </div>
    </div>
  </div>

 
  <div>"&nbsp;"</div>
      <%= _.template(require('./../includes/footer.html').default)() %>